h2
  | Edit
  = resource_name.to_s.humanize

= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f|
  = devise_error_messages!

  div class='field'
    = f.label :email
    div= f.email_field :email, autofocus: true

  div class='field'
    = f.label :username, "Requested Username"
    div= f.text_field :username

  - if devise_mapping.confirmable? && resource.pending_reconfirmation?
    div
      | Currently waiting confirmation for:
      = resource.unconfirmed_email

  div class='field'
    = f.label :password
    em = "(leave blank if you don't want to change it)"
    div = f.password_field :password, autocomplete: "off"

  div class='field'
    = f.label :password_confirmation
    div= f.password_field :password_confirmation, autocomplete: "off"

  div class='field'
    = f.label :current_password
    em= "(we need your current password to confirm your changes)"
    div = f.password_field :current_password, autocomplete: "off"

  div class='actions'
    = f.submit "Update"

= link_to "Back", :back
