h2 Sign up

= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!

  div class='field'
    = f.label :email
    div= f.email_field :email, autofocus: true

  div class='field'
    = f.label :username, "Requested Username"
    div= f.text_field :username

  div class='field'
    = f.label :password
    - if @minimum_password_length
      em= "(#{@minimum_password_length} characters minimum)"
    div= f.password_field :password, autocomplete: "off"

  div class='field'
    = f.label :password_confirmation
    div= f.password_field :password_confirmation, autocomplete: "off"

  div class='field'
    = recaptcha_tags

  div class='actions'
    = f.submit "Sign up"

= render 'devise/shared/links'
