- if current_user.present?
  div= link_to "#{current_user.email}", edit_user_registration_path
  - if current_user.disabled?
    | your account isn't enabled.
  - else
    - if current_user.admin?
      div= link_to "Manage Accounts", accounts_path
- else
  div
    = link_to "Create account", new_user_registration_path
  div
    = link_to "Login", new_user_session_path
