- if current_user
  - if policy(:user).index?
    = button_to "Manage Accounts", accounts_path, method: :get
  - if policy(:domain).index?
    = button_to "Manage Domains", domains_path, method: :get
  = button_to "Logout", destroy_user_session_path, method: :delete
- else
  = button_to "Login", new_user_session_path, method: :get
