doctype html
html
  head
    title SITE NAME
    = stylesheet_link_tag 'application', media: 'all'
    = csrf_meta_tags
  body
    = render 'layouts/top_menu'
    = render 'layouts/flash'
    h1
      | Admin System

    = yield


    = yield(:page_javascripts)
